[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
grpcio-tools = "*"
tornado = "*"
semver = "*"

[dev-packages]
bandit = "*"
black = "*"
types-protobuf = "*"
toml = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
